@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans+Condensed:wght@300&family=Staatliches&display=swap");

:root {
	font-size: 10px;
}

#header {
	width: 100%;
	height: 6vh;
	display: grid;
	grid-template-columns: 3fr 6fr 3fr;
	background: rgb(255, 31, 31);
	background: linear-gradient(
		48deg,
		in rgba(255, 31, 31, 1) 0%,
		rgba(255, 0, 0, 0.6) 100%
	);
	border-bottom: 0.1rem solid rgba(255, 31, 31, 0.6);
	box-shadow: 0.5rem 0.5rem 0.5rem black;
}

#logo {
	padding-left: 1%;
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: center;
	font-size: 3rem;
	font-family: "Dancing Script", cursive;
}

#logo img {
	width: 5rem;
	height: 5rem;
}

#navBar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1.7rem;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#pageContent {
	width: 72vw;
	height: 76vh;
	margin: 1rem;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 5px 5px 5px black;
}

#footer {
	height: 12vh;
	width: 100%;
	background: rgb(255, 31, 31);
	background: linear-gradient(
		48deg,
		rgba(255, 31, 31, 1) 0%,
		rgba(255, 0, 0, 0.6) 100%
	);
	border-top: 0.1rem solid rgba(255, 0, 0, 0.6);
	position: fixed;
	margin-top: 88vh;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
}

.footerDivs {
	width: 33%;
	text-align: center;
}

body {
	border: 0;
	margin: 0;
	padding: 0;
	background-image: url(../images/pizzaBG.jpg);
	background: no-repeat center center cover;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: none;
}

a:visited {
	text-decoration: none;
	color: none;
}

.aboutImgs {
	width: 80%;
}

.aboutColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#mapFrame {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutUsContent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: justify;
	gap: 0.5rem;
	padding: 0.5rem;
}

h2 {
	font-family: "Staatliches", cursive;
}
